<div class="header" style="margin-left:20%; margin-top: 50px;">
    <div class="row">
        <h2></h2>
        <div class="btn-group btn-breadcrumb">
            <a href="" ng-click="nav('views/AddTrainee.html')" class="btn btn-default">Home</a>
            <!--<a href="" ng-click="nav('views/monitor.html')" class="btn btn-default">Monitor</a>-->
            <a href="" ng-click="nav('views/test.html')" class="btn btn-default">Test</a>
            <a href="" ng-click="logOut()" class="btn btn-default">Log Out</a>
        </div>
    </div>
</div>
<div>
    <div ng-include = "userView"></div>
</div>

